body {
  background-color: #fef3e2;
  font-family: poppins, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #faa533;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 4px 4px #fa812f;
  align-items: center;
  height: auto;
  padding: 5px 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0px;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  color: #fab12f;
  box-shadow: 2px 2px #fa812f;
  transition: 0.2s;
}

.container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content {
  width: 80%;
}
.content a {
  height: 50px;
  width: auto;
  background-color: white;
  padding: 20px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: 4px 4px #fa812f;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fab12f;
  transition: 0.2s;
}

.content a:hover,
nav a:hover {
  background-color: #fa812f;
  color: white;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}
